<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Slavs - Slavian RPG game in WebGL</title>
    <meta name="description" content="Slavs - WebGL rpg game">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link type="text/css" href="{{ asset('bundles/frontend/css/carousel.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script type="text/javascript" src="{{ asset('bundles/frontend/js/bootstrap.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            ☰
        </button>

        <div class="navbar-buttons text-center">
            <a class="button-background-slavs" href="{{ path("homepage") }}">Homepage</a>
            <a class="button-background-slavs" href="#">Scenario</a>
            <a class="button-background-slavs" href="{{ path("rank_players") }}">Gameplay</a>
            <a class="button-background-slavs" href="{{ path("game_items") }}">Items</a>
            <a class="button-background-slavs" href="#">Bestiary</a>
            <a class="button-background-slavs button-background-slavs-red" href="{{ path("homepage") }}">Play the game</a>
        </div>

        <img class="navbar-background" src="{{ asset('bundles/frontend/images/layout/wood.png') }}">
        <img class="navbar-left" src="{{ asset('bundles/frontend/images/layout/leftMetal.png') }}">
        <img class="navbar-right" src="{{ asset('bundles/frontend/images/layout/rightMetal.png') }}">
        <img class="navbar-brand" src="{{ asset('bundles/frontend/images/layout/logo.png') }}">
    </nav>

    <div class="container container-banners">
            <img src="{{ asset('bundles/frontend/images/layout/banner.png') }}">
    </div>

    <div class="container my-5">
        {% block content %}{% endblock %}
    </div>

    <div class="container container-background-slavs">
        <div class="row">
            <div class="col-md-12">
                <h1>Slavs - pre-alpha</h1>
                <p class="lead">Currently state of game is alpha version. At this moment you can create
                    account and play in small alpha test. Just create Your account to be up to date with Slavs!</p>
            </div>
        </div>
    </div>

    <footer class="text-center mt-2 py-3 gray-background">
        <b>&copy; 2018 Slavs</b>
    </footer>

    <div id="flash-messages">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div id="inner-message" class="alert alert-light font-weight-bold text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>
