{% trans_default_domain 'FOSUserBundle' %}


<div class="container text-center">
    <h1 class="my-5">Play the game</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="row">
        <div class="col-sm">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form" role="form">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}
                <div class="row">
                    <div class="col-sm">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input class="form-control" type="text" id="username" name="_username"
                                   value="{{ last_username }}"
                                   required="required" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                            <input class="form-control" type="password" id="password" name="_password"
                                   required="required"
                                   autocomplete="current-password" placeholder="Password"/>
                        </div>
                    </div>
                </div>

                <input class="form-control btn btn-danger my-2" type="submit" id="_submit" name="_submit" value="Login"/>

                <p><small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small></p>
                <h2><a href="#" data-toggle="modal" data-target="#modalPassword">Create new account</a></h2>

            </form>
        </div>
        <div class="col-sm">
            <h3>Login via social media</h3>
            <a href="{{ path('hwi_oauth_service_redirect', { service: 'facebook' }) }}" class="btn btn-danger"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="{{ path('hwi_oauth_service_redirect', { service: 'google' }) }}" class="btn btn-danger"><i class="fab fa-google-plus-g"></i> Google+</a>
        </div>
    </div>
</div>
