<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Slavs - Slavian RPG game in WebGL</title>
    <meta name="description" content="Slavs - WebGL rpg game">

    <script src="{{ asset('bundles/frontend/js/babylon/babylon.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/babylon/babylon.inspector.bundle.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/babylon/babylon.gui.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/babylon/materialsLibrary/babylon.terrainMaterial.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/socket.io.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/game/slavs.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/game/parameters.js') }}"></script>

    <style>
        html, body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }
    </style>
<script>
    var SESSION_TOKEN = '{{ sessionToken }}';
    console.log(SESSION_TOKEN);
</script>

</head>

<body>
    <canvas id="renderCanvas"></canvas>
    <script>
        if (BABYLON.Engine.isSupported()) {
            let htmlElement = document.getElementById('renderCanvas');
            document.getElementsByTagName("body")[0].setAttribute("oncontextmenu", "return false");

            new Game(htmlElement);
        }
    </script>
</body>
</html>
