{% trans_default_domain 'FOSUserBundle' %}
{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    <form action="{{ path("fos_user_change_password") }}" method="post" class="form" role="form">
        {{ form_row(form._token) }}
        <div class="row text-center">
            <div class="col-12 col-sm-6">
                <b>Current password</b>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                    <input class="form-control" type="password" name="fos_user_change_password_form[current_password]"
                           required="required"/>
                </div>

                <b>New password</b>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                    <input class="form-control" type="password"
                           name="fos_user_change_password_form[plainPassword][first]"
                           required="required"/>
                </div>

                <b>Repeat new password</b>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                    <input class="form-control" type="password"
                           name="fos_user_change_password_form[plainPassword][second]"
                           required="required"/>
                </div>

                <input class="form-control btn btn-danger my-2" type="submit" id="_submit" name="_submit"
                       value="{{ 'change_password.submit'|trans }}"/>
            </div>

            <div class="col-12 col-sm-6">
                <h1>Change password</h1>
                <h2><a href="/">Back</a></h2>
                {{ form_errors(form) }}
                {{ form_errors(form.current_password) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

        </div>

    </form>
{% endblock %}