{% trans_default_domain 'FOSUserBundle' %}
{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1 class="my-5 header-ruslan">Change password</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ path('fos_user_change_password') }}" method="POST">
                    {{ form_row(form._token) }}
                    <div class="row text-center">
                        <b class="header-ruslan">Current password</b>
                        <div class="input-group">
                            <input class="form-control" type="password"
                                   name="fos_user_change_password_form[current_password]"
                                   required="required"/>
                        </div>
                    </div>

                    <div class="row">
                        <b class="header-ruslan">New password</b>
                        <div class="input-group">
                            <input class="form-control" type="password"
                                   name="fos_user_change_password_form[plainPassword][first]"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="row">
                        <b class="header-ruslan">Repeat new password</b>
                        <div class="input-group">
                            <input class="form-control" type="password"
                                   name="fos_user_change_password_form[plainPassword][second]"
                                   required="required"/>
                        </div>

                    </div>
                    <input class="btn my-2 button-background-slavs button-background-slavs-red"
                           type="submit" value="Change password"/>
                    <a class="btn my-2 button-background-slavs" href="{{ path("homepage") }}">Back</a>
                </form>


                {{ form_errors(form) }}
                {{ form_errors(form.current_password) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

        </div>
    </div>
{% endblock %}