{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1 class="my-5 header-ruslan">Register new account</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                    {{ form_errors(form) }}
                    {{ form_errors(form.email) }}
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.second) }}
                <br>
                <form action="{{ path("fos_user_registration_register") }}" method="post" class="form" role="form">
                    {{ form_row(form._token) }}
                    <div class="row">
                        <div class="input-group">
                            <input class="form-control" type="text" name="fos_user_registration_form[email]"
                                   required="required" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input class="form-control" type="password"
                                       name="fos_user_registration_form[plainPassword][first]"
                                       required="required"
                                       autocomplete="current-password" placeholder="Password"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input class="form-control" type="password"
                                       name="fos_user_registration_form[plainPassword][second]"
                                       required="required"
                                       autocomplete="current-password" placeholder="Password confirmation"/>
                            </div>
                        </div>
                    </div>

                    <input class="btn my-2 button-background-slavs button-background-slavs-red" type="submit" value="Register"/>
                    <h2><a class="btn my-2 button-background-slavs" href="{{ path("homepage") }}">Back to login</a></h2>

                </form>
            </div>

        </div>
    </div>
{% endblock %}