{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="header-ruslan">Items in game</h1>
            </div>
            <div class="col-md-12 mt-3 container-background-slavs">
                <h2 class="header-ruslan mt-3">Weapons and shields</h2>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ asset('bundles/frontend/assets/Miniatures/sword.png') }}">
                        <h5 class="header-ruslan">Sword</h5>
                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ asset('bundles/frontend/assets/Miniatures/swordLong.png') }}">
                        <h5 class="header-ruslan">Long Sword</h5>
                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ asset('bundles/frontend/assets/Miniatures/shieldWoodenMedium.png') }}">
                        <h5 class="header-ruslan">Medium Wooden Shield</h5>
                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ asset('bundles/frontend/assets/Miniatures/shieldWoodenSmall1.png') }}">
                        <h5 class="header-ruslan">Small Wooden Shield</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-12 container-background-slavs">
                <h2 class="header-ruslan mt-3">Leather set</h2>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ asset('bundles/frontend/assets/Miniatures/leatherArmor.png') }}">
                        <h5 class="header-ruslan">Leather Armor</h5>
                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ asset('bundles/frontend/assets/Miniatures/leatherBoots.png') }}">
                        <h5 class="header-ruslan">Leather Boots</h5>
                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ asset('bundles/frontend/assets/Miniatures/leatherGloves.png') }}">
                        <h5 class="header-ruslan">Leather Gloves</h5>
                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ asset('bundles/frontend/assets/Miniatures/leatherHelm.png') }}">
                        <h5 class="header-ruslan">Leather Helm</h5>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
